html {
 height: 100%;
}

 body {
   width: 100%;
   min-height: 100%;
   position: relative;
   padding-bottom: 250px;
 }

header {
  text-align: center;
}

#btn-new {
  float: right;
  top: 35px;
  right: 30px;
  position: absolute;
}

img.card {
  width: 175px;
}

img.card:hover {
  width: 223px;
}

#deck {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  border-top: double;
  background-color: white;
  overflow-x: scroll;
}

img.deck {
  position: absolute;
}

img.deck:hover {
  z-index: 999;
}

.count {
  text-align: center;
  margin: 0;
}

.stacks {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  width: 175px;
}
