html {
 height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  margin: 0;
}

header {
 text-align: center;
}

#top {
  height: 65%;
  overflow-x: scroll;
  position: absolute;
  top: 0;
  width: 100%;
}

#bottom {
  bottom: 0;
  height: 35%;
  position: absolute;
  width: 100%;
}

#btn-new {
  float: right;
  top: 15px;
  right: 30px;
  position: absolute;
}

#top-pool {
  text-align: center;
}

#top-pool-menu {
  background-color: white;
  padding: 7px 0 10px;
  position: sticky;
  top: 0;
}

img.card {
  width: 223px;
}

img.card:hover {
  width: 223px;
}

.info-bar {
  background-color: lightgrey;
  border-bottom: 2px outset;
  border-top: 2px outset;
  height: 17px;
}

#deck-pool {
  background-color: white;
  height: calc(100% - 10px);
  position: absolute;
  left: 0;
}

#deck-stacks {
  display: flex;
  height: calc(100% - 17px);
  margin-right: 5px;
  overflow: scroll;
  padding: 5px;
}

.count {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.stack {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  min-width: 175px;
}

img.deck {
  position: absolute;
  width: 175px;
}

img.deck:hover {
  z-index: 999;
}

#side-pool {
  background-color: white;
  height: calc(100% - 10px);
  min-width: 195px;
  position: absolute;
  right: 0;
}

#pool-stacks {
  border-left: 5px outset darkgrey;
  display: flex;
  height: calc(100% - 17px);
  overflow: scroll;
  padding: 5px;
}
